body{ display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:100vh;
}
*{
    padding: 0%;
    margin: 0;
}
.container
{   
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    height:600px;
    width: 600px;
}
.white
{
    background-color: white;

}
.brown
{
    background-color: brown;
}
